<app-header></app-header>
<div class="home-container">
  <div class="movies-list">
    <div class="new-movies">
      <div class="top">
        <h4>New Movies</h4>
        <div class="view-all">ViewAll</div>
      </div>
      <div class="movies-thumbnail">
        <div class="movie" *ngFor="let movie of newMovies">
          <div class="cover" (click)="goToMovie('new', movie.id)">
            <img [src]="movie.cover" alt="" />
          </div>
          <div class="detail">
            <div class="name" (click)="goToMovie('new', movie.id)" >{{ movie.name }}</div>
            <div class="rating">
              <app-rating
                [rating]="movie.rating"
                [isReadOnly]="true"
              ></app-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popular-movies">
    <h4>All time popular</h4>
    <div class="movie" *ngFor="let movie of popularMovies">
     
        <div class="name" (click)="goToMovie('popular', movie.id)" >{{ movie.name }}</div>
        <div class="rating">
          <app-rating [rating]="movie.rating" [isReadOnly]="true"></app-rating>
        </div>
      
    </div>
  </div>
</div>
